.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(18px);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.368);
  color: var(--accent-c);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeBtn {
  background-color: var(--secondary-c);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 0 0 0 10px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeBtn:hover {
  cursor: pointer;
}

.customBtn {
  background-color: var(--accent-c);
  color: var(--primary-c);
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
}

.customBtn:hover {
  background-color: var(--accent-c-hover);
  transform: scale(1.01);
}

.piImage {
  width: 400px;
  transform: translateX(15px);
}

.radios {
  position: relative;
}

.twentyThree {
  position: absolute;
  top: 125px;
  left: 62px;
}
.twentyFour {
  position: absolute;
  top: 125px;
  left: 105px;
}
.twentyFive {
  position: absolute;
  top: 125px;
  left: 147px;
}
.twelve {
  position: absolute;
  top: 125px;
  left: 189px;
}
.sixTeen {
  position: absolute;
  top: 125px;
  left: 231px;
}
.twenty {
  position: absolute;
  top: 125px;
  left: 273px;
}
.twentyOne {
  position: absolute;
  top: 125px;
  left: 315px;
}

.sevenTeen {
  position: absolute;
  top: 171px;
  left: 62px;
}
.twentySeven {
  position: absolute;
  top: 171px;
  left: 105px;
}
.twentyTwo {
  position: absolute;
  top: 171px;
  left: 147px;
}
.five {
  position: absolute;
  top: 171px;
  left: 189px;
}
.six {
  position: absolute;
  top: 171px;
  left: 231px;
}
.thirTeen {
  position: absolute;
  top: 171px;
  left: 273px;
}
.nineTeen {
  position: absolute;
  top: 171px;
  left: 315px;
}

@media only screen and (max-width: 768px) {
  .piImage {
    width: 250px;
    transform: translateX(15px);
  }

  .radios {
    position: relative;
  }

  .twentyThree {
    position: absolute;
    top: 77px;
    left: 42px;
  }
  .twentyFour {
    position: absolute;
    top: 77px;
    left: 69px;
  }
  .twentyFive {
    position: absolute;
    top: 77px;
    left: 95px;
  }
  .twelve {
    position: absolute;
    top: 77px;
    left: 121px;
  }
  .sixTeen {
    position: absolute;
    top: 77px;
    left: 147px;
  }
  .twenty {
    position: absolute;
    top: 77px;
    left: 173px;
  }
  .twentyOne {
    position: absolute;
    top: 77px;
    left: 200px;
  }

  .sevenTeen {
    position: absolute;
    top: 105px;
    left: 42px;
  }
  .twentySeven {
    position: absolute;
    top: 105px;
    left: 69px;
  }
  .twentyTwo {
    position: absolute;
    top: 105px;
    left: 95px;
  }
  .five {
    position: absolute;
    top: 105px;
    left: 121px;
  }
  .six {
    position: absolute;
    top: 105px;
    left: 147px;
  }
  .thirTeen {
    position: absolute;
    top: 105px;
    left: 173px;
  }
  .nineTeen {
    position: absolute;
    top: 105px;
    left: 199px;
  }
}
